body {
    background-color: #030303; 
    color: #EFEFEF;
}

.gradient-text {
    background-image: linear-gradient(to right, #10B981, #34D399, #F5F5F5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(16, 185, 129, 0.3);
}

.button-glow {
    transition: box-shadow 0.3s ease-in-out;
}
.button-glow:hover {
    box-shadow: 0 0 40px rgba(16, 185, 129, 1);
}

.link-effect {
    position: relative;
    transition: color 0.3s ease-in-out;
}
.link-effect:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #10B981; 
    transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.link-effect:hover:after {
    width: 100%;
    left: 0;
}